body {

    margin: 0;

    background-color: black;

    color: white;

    font-family: Arial, Helvetica, sans-serif;

}

.hero {

    position: relative;

    height: 100vh;

    background-image: url("./assets/planet.jpg");

    background-size: cover;

    background-position: center;

    overflow: hidden;

}

.overlay {

    position: absolute;

    width: 100%;

    height: 100%;

    background:
        linear-gradient(to right,
            rgba(120, 0, 0, 0.6),
            rgba(0, 0, 0, 0.8));

    backdrop-filter: blur(2px);

}

.content {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

    width: 100%;

}

.content h1 {

    margin: 0;

    font-size: 110px;

    letter-spacing: 8px;

    color: white;

    text-shadow:
        6px 6px 0 black,
        0 0 20px red,
        0 0 40px red;

}

.content h2 {

    margin-top: 10px;

    font-size: 38px;

    color: #ff2a2a;

    letter-spacing: 6px;

    text-shadow: 0 0 15px black;

}

.line {

    width: 420px;

    height: 4px;

    background: #ff2a2a;

    margin: 30px auto;

    box-shadow: 0 0 20px red;

}

.subtitle {

    font-size: 22px;

    letter-spacing: 5px;

    margin-bottom: 45px;

}

.menu a {

    text-decoration: none;

    color: white;

    margin: 0 22px;

    font-size: 24px;

    letter-spacing: 3px;

    transition: 0.3s;

}

.menu a:hover {

    color: #ff2a2a;

    text-shadow: 0 0 10px red;

}

.bottom-text {

    position: absolute;

    right: 35px;

    bottom: 30px;

    text-align: right;

    color: #ff2a2a;

    font-size: 16px;

    letter-spacing: 1px;

}

section {

    width: 75%;

    margin: 60px auto;

    padding: 35px;

    background: rgba(15, 15, 15, 0.95);

    border-left: 8px solid #ff2a2a;

    box-shadow:
        0 0 15px black,
        10px 10px 0 #7a0000;

}

section h2 {

    font-size: 38px;

    color: #ff2a2a;

    letter-spacing: 3px;

}

section p,
section li {

    font-size: 20px;

    line-height: 1.8;

}

ul {

    padding-left: 25px;

}
