body{
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

h1{
    color: #ff4d4d;
    font-size: 60px;
}

p{
    width: 70%;
    margin: auto;
    font-size: 20px;
}

button{
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #ff4d4d;
    color: white;
}

canvas{
    margin-top: 30px;
    border: 2px solid white;
}
